---
// const { jsonTilCard } = Astro.props;
// const tag = Astro.props.tag;
// const text = Astro.props.text;
// console.log("jsonTilCard", jsonTilCard);
// const { variant, data } = Astro.props;
const {data} = Astro.props;
---
<article>
  <p>{data.title}</p>
  <p>{data.overskrift}</p>
</article>


<!-- <article class={variant}>
  <h2>{data.title}</h2>
  <a href=`${data.slug}`>
    <!-- <a href={`/planslug/${data.slug}`}> -->
    <!-- <p>{data.title} link her</p>
  </a>
  <div></div>
</article> --> -->
