---
const img = Astro.props.img;
const h1 = Astro.props.h1;
const h2 = Astro.props.h2;
const text = Astro.props.text;
const knap = Astro.props.knap;
---

<article>
  <div class="grid2">
    <div class="textcontent2">
      <h1>{h1}</h1>
      <h2>{h2}</h2>
      <p>{text}</p>
      <div class="knap">
        <a href="src/pages/fakta.astro">{knap}</a>
      </div>
    </div>
    <div class="computer">
      <img src={img} />
    </div>
  </div>
</article>

<style>
  article {
    background-color: var(--backgroundcolorcard);
  }

  .textcontent2 {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 40px;
  }

  h1 {
    font-family: var(--fontcardh1);
    font-weight: var(--fontwightcard);
    font-size: var(--fontsizecardh1);
    line-height: var(--lineheightcard);
    color: var(--primary-colorcardh1);
    padding-bottom: 20px;
  }
  h2 {
    font-family: var(--fontcardh1);
    font-weight: var(--fontwightcard);
    font-size: var(--fontsizecardh2);
    line-height: var(--lineheightcardh2);
    color: var(--secondary-colorcardh2);
    padding-bottom: 20px;
  }
  p {
    font-family: var(--fontcardp);
    font-weight: var(--fontwightcard);
    font-size: var(--fontsizecard);
    line-height: var(--lineheightcardp);
    color: var(--textcardcolor);
  }

  /* GRID */

  .computer {
    width: 100%;
    display: flex;
    position: relative;
  }

  .computer img {
    width: 100%; /* juster størrelse */
    z-index: 10;
    margin-bottom: -30px;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
  }
  .computer {
    display: grid;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .knap a {
    font-size: larger;
    color: white;
    text-decoration: none;
    background-color: rgba(60, 79, 92, 1);
    display: inline-block;
    padding: 17px 50px;
    border-radius: 40px;
    text-align: center;
    font-family: var(--fontcardp);
    margin-top: 100px;
    position: relative;
    left: 10px;
  }
  .knap a:hover {
    color: #3c4f5c;
    background-color: #c5d4dc;
  }
</style>
