---
const img = Astro.props.img;
const h1 = Astro.props.h1;
const h2 = Astro.props.h2;
const text = Astro.props.text;
const link = Astro.props.link;
---

<article>
  <div class="grid2">
    <div class="computer">
      <img src={img} />
    </div>
    <div>
      <h1>{h1}</h1>
      <h2>{h2}</h2>
      <p>{text}</p>
      <a href={link}></a>
    </div>
  </div>
</article>

<style>
  article {
    background-color: rgba(223, 232, 237, 1);
  }

  h1 {
    font-family: var(--fontcardh1);
    font-weight: var(--fontwightcard);
    font-size: var(--fontsizecardh1);
    line-height: var(--lineheightcard);
  }
  h2 {
    font-family: var(--fontcardh1);
    font-weight: var(--fontwightcard);
    font-size: var(--fontsizecard);
    line-height: var(--lineheightcard);
    padding: 0 20px 20px 20px;
    color: var(--secondary-colorcardh2);
  }
  p {
    font-family: var(--fontcardp);
    font-weight: var(--fontwightcard);
    font-size: var(--fontsizecard);
    line-height: var(--lineheightcard);
    color: var(--textcardcolor);
    padding: 0 20px 20px 20px;
  }

  /* GRID */

  .computer {
    width: 100%;
    display: flex;
    position: relative;
  }

  .computer img {
    width: 100%; /* juster størrelse */
    z-index: 10;
    margin-top: -100px;
  }

  .computer {
    display: grid;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
</style>
