---
const img = Astro.props.img;
const h1 = Astro.props.h1;
const h2 = Astro.props.h2;
const text = Astro.props.text;
const link = Astro.props.link;
---

<article>
  <div class="grid2">
    <div class="computer">
      <img src={img} />
    </div>
    <div class="textcontent">
      <h1>{h1}</h1>
      <h2>{h2}</h2>
      <p>{text}</p>
      <a href={link}></a>
    </div>
  </div>
</article>

<style>
  article {
    background-color: var(--backgroundcolorcard);
  }

  .textcontent {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 40px;
  }

  h1 {
    font-family: var(--fontcardh1);
    font-weight: var(--fontwightcard);
    font-size: var(--fontsizecardh1);
    line-height: var(--lineheightcard);
    color: var(--primary-colorcardh1);
    padding-bottom: 20px;
  }
  h2 {
    font-family: var(--fontcardh1);
    font-weight: var(--fontwightcard);
    font-size: var(--fontsizecardh2);
    line-height: var(--lineheightcardh2);
    color: var(--secondary-colorcardh2);
    padding-bottom: 20px;
  }
  p {
    font-family: var(--fontcardp);
    font-weight: var(--fontwightcard);
    font-size: var(--fontsizecard);
    line-height: var(--lineheightcardp);
    color: var(--textcardcolor);
  }

  /* GRID */

  .computer {
    width: 100%;
    display: flex;
    position: relative;
  }

  .computer img {
    width: 100%; /* juster størrelse */
    z-index: 10;
    margin-top: -100px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
  }

  .computer {
    display: grid;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
</style>
