---
const img = Astro.props.img;
const h1 = Astro.props.h1;
const h2 = Astro.props.h2;
const h3 = Astro.props.h3;
const text = Astro.props.text;
const link = Astro.props.link;
---

<article>
  <div class="grid2">
    <div class="computer">
      <img src={img} />
    </div>
    <div>
      <h1>{h1}</h1>
      <h2>{h2}</h2>
      <h3>{h3}</h3>
      <h2>{h2}</h2>
      <p>{text}</p>
      <a href={link}></a>
    </div>
  </div>
</article>

<style>
  article {
    background-color: rgba(223, 232, 237, 1);
  }

  h1 {
    color: rgba(71, 96, 115, 1);
    padding: 3rem;
  }
  h2 {
    color: rgba(71, 96, 115, 1);
    padding: 0 20px 20px 20px;
  }
  h3 {
    color: rgba(71, 96, 115, 1);
    padding: 0 100px 20px 20px;
    line-height: 3rem;
  }
  p {
    color: rgba(71, 96, 115, 1);
    padding: 0 20px 20px 20px;
  }

  /* GRID */

  .computer {
    width: 100%;
    display: flex;
    position: relative;
  }

  .computer img {
    width: 100%; /* juster størrelse */
    z-index: 10;
    margin-top: -100px;
    width: 80%;
    margin-left: 50px;
    padding-bottom: 80px;
  }

  .computer {
    display: grid;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
</style>
