---
const h2text = Astro.props.h2text;
const text1 = Astro.props.text1;
const boldText = Astro.props.boldText;
const prisText = Astro.props.prisText;
const button = Astro.props.button;
---

<article class="planCard">
  <h2>{h2text}</h2>
  <p>{text1}</p>
  <p class="bold_p">{boldText}</p>
  <p>{prisText}</p>
  <a href="">{button}</a>
</article>

<style>
  article {
    display: grid;
    margin: 0 auto;
  }

  .planCard {
    padding: 20px;
    background-color: #e0e8ed;
    margin-bottom: 5rem;
    margin-top: -12rem;
    text-align: justify;
    height: 15rem;
    width: 15rem;
    padding: 20px;
    padding-bottom: 50px;
  }
  .bold_p {
    font-weight: bold;
  }
  .planCard a {
    font-size: larger;
    color: white;
    text-decoration: none;
    background-color: #6e8fa2;
    display: inline-block;
    padding-inline: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    text-align: center;
  }
  .planCard a:hover {
    color: #3c4f5c;
    background-color: #c5d4dc;
  }
</style>
